.container{
    display: flex;
    flex-direction: row;

}
.list-container{
    width: 50vw;
    height: inherit;
    max-height: 100vh;
    overflow:scroll; 
    margin: 0px 1rem;

}
.outer-map-container{
    width: 50vw;
    height: 100vh;
    position: relative;
}
.car-item{
    padding: 3rem;
    cursor: pointer;    
    font-size: xx-large;
    text-align: center;
}
.car-item.highlighted{
    background-color: yellow;

}
.car-item p{
   margin-top: 20px;
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
    .list-container{
        width: 80vw;
        margin: 0px 2rem;

    }
    .outer-map-container{
        width: 100vw;
    }
    .car-item{
        padding: 0.5rem;
        font-size: small;
    }
    .car-item p{
        margin-top: 7px;
    }
  }